/* google transtalor  */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
#google_translate_element {
  position: absolute !important;
  width: 44px !important;
  top: 5% !important;
  padding: 12px !important;
  overflow: hidden !important;
  height: 0px !important;
}

.goog-te-combo {
  opacity: 0.000001 !important;
  cursor: pointer !important;
  border: none !important;
  margin-left: -6px !important;
  margin-right: 0px !important;
  padding: 20px !important;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 104px;
  height: 104px;
  border-radius: 50px;
  background: #fff
    url(https://www.gstatic.com/images/branding/product/2x/translate_24dp.png)
    50% 50% no-repeat;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0;
  display: none !important;
}
/* end  */